# ===================== System cache ==========================
.DS_Store

# ======================== Python =============================
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
# htmlcov/
.tox/
.coverage
.cache
# nosetests.xml
# coverage.xml

# Translations
# *.mo
# *.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# ===================== JavaScript =========================
node_modules/
npm-debug.log
# ======================== IDE =============================
# IDE
*~
*.swp
# PyCharm
.idea/
.ropeproject
.project


# ctags -R
tags
urls
*_urls

# ===================== Project specific ===================
# Project specific
urls.ini
test_xml
list

*.xlsx
*.xls
nohup.out

tests/data/
twistd.pid
setup.py

proxy_list
tmp
test.py

# === for java project =====
.gradle/
out/
